* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 90%;
  height: 80vh;
  background-color: aqua;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
}

section {
  margin-right: 1rem;
}

.game-controls {
  padding: 1rem 1rem;
  background-color: bisque;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.game-controls > * {
  margin-bottom: 1rem;
}

/* Optional: Remove margin from the last child */
.game-controls > *:last-child {
  margin-bottom: 0;
}

.player {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 50%;
}

.player-score {
  display: flex;
  flex-direction: column;

  justify-content: space-between;
  align-items: center;
}

.current-score {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
